.root{
    -fx-background-image: url('/project/gui/resources/pictures/z5.jpg');
    -fx-background-size: cover;
}
.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: #222222;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);

}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 20;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgb(180,45,45);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}