.button{
    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: black;
}
.button:hover{
    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-insets: -3;

}
.buttonBoard{
    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 22;
    -fx-font-size: 20;
    -fx-text-fill: black;
}
.buttonBoard:hover{
    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 22;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-insets: -3;
}
.buttonBar{
    -fx-font-weight:bold;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-size: 20;
    -fx-text-fill: white;
}
.buttonBar:hover{
    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 5;
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.toggle-button{
    -fx-background-color: #222222;
    -fx-background-radius: 15;
    -fx-border-width: 5;
    -fx-border-radius: 9;
}
.toggle-button:hover{
    -fx-background-color: #222222;
    -fx-background-radius: 15;
    -fx-border-width: 5;
    -fx-border-radius: 9;
}
.toggle-button:selected{
    -fx-background-color: #222222;
    -fx-background-radius: 15;
    -fx-border-width: 3;
    -fx-border-radius: 9;
    -fx-border-color:red;
}
.buttonChoose{
    -fx-background-color: #222222;
    -fx-background-radius: 15;
    -fx-border-width: 5;
    -fx-border-radius: 9;
}
.buttonChoose:hover{
    -fx-background-color: #222222;
    -fx-background-radius: 15;
    -fx-border-width: 5;
    -fx-border-radius: 9;
}
.buttonChoose:selected{
    -fx-background-color: #222222;
    -fx-background-radius: 15;
    -fx-border-width: 3;
    -fx-border-radius: 9;
    -fx-border-color:red;
}


