.text-fieldMenu{
    -fx-background-color: red;
    -fx-background-radius: 20;
    -fx-font-size: 15px;
    -fx-text-fill: #000001;
    -fx-font-weight: bold;
}
.text-fieldDesign{
    -fx-background-color: red;
    -fx-font-size: 20px;
    -fx-background-radius: 10;
    -fx-text-fill: #000001;
    -fx-font-weight: bold;
}
.password-field{
    -fx-background-color: red;
    -fx-background-radius: 20;
    -fx-text-fill: #000001;
    -fx-font-weight: bold;
}
.combo-box{
    -fx-background-color: red;
    -fx-font-size: 18px;
    -fx-background-radius: 5;
    -fx-font-weight: bold;

}
.combo-box .cell{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;

}
